
<div style="border-radius: 15px 15px 15px 15px; width: 100%" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 100%" role="document">
    <div class="modal-content" style="border-radius: 15px 15px 15px 15px;">
      <div class="modal-header" id="header">
        <h5 class="modal-title" id="dashboardTitle"><b>Dash Board</b></h5>
      </div>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Package</th>
          <th>Qty</th>
          <th>SubTotal</th>
          <th>Total</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let allOrders of orderDetails">
          <td>{{allOrders.createdOn}}</td>
          <td owspan="3"><div *ngFor="let package of allOrders.packageData">
            {{ package.packageType }}
          </div></td>
          <td owspan="3"><div *ngFor="let package of allOrders.packageData">
            {{ package.qty }}
          </div></td>
          <td owspan="3"><div *ngFor="let package of allOrders.packageData">
            {{ package.subTotal }}
          </div></td>
          <td>{{allOrders.total}}</td>
        </tr>
        </tbody>
      </table>
      <div  class="placeOrderNew">
        <button id="placeOrder" name="placeOrder" routerLink=""><b>Create New</b></button>
      </div>

    </div>
  </div>
</div>
