.input{
  width: 100%;
  border-radius: 5px;
  border-color: aliceblue;
}
.login{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  border-color: red;
}
#header{
  background-color: #f3f3f3;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}
#logintitle{
  margin-left: auto;
  margin-right: auto;
}
