<div style="border-radius: 15px 15px 15px 15px;" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 15px 15px 15px 15px;">
      <div class="modal-header" id="header">
        <h5 class="modal-title" id="logintitle"><b>Login</b></h5>
      </div>
      <div class="modal-body">

        <div class="new">
          <input id="userName" type="text" class="input" placeholder="userName"  [(ngModel)]="userName">
        </div>
        <div class="new">
          <input id="password" type="password" class="input" placeholder="password" [(ngModel)]="password">
        </div>
        <div class="modal-footer" style="border-radius: 15px 15px 15px 15px;">

          <button id="parse" type="button" class="login" data-toggle="modal" type="submit"  (click)="Login()"><b>Login</b></button>

        </div>
      </div>
    </div>
  </div>
</div>
